<div style="background-color: #EFF0F1; padding: 30px">
  <h1>Edit Cocktail</h1>
  <h2><%= @cocktail.name %></h2>
  <h3>Ingredients</h3>
  <div class="container-fluid">
  <% @cocktail.doses.each do |dose| %>
    <div class="row" style="border: 1px solid grey; border-radius: 5px; padding: 10px; margin-bottom: 15px">
      <div class="col-xs-5">
        <%= dose.description + ' of ' + dose.ingredient.name %>
      </div>
      <div class="pull-right col-xs-3">
        <%= link_to 'Delete', dose_path(dose), method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
  </div>
</div>
<div class="text-center" style="margin: 30px;">
  <%= link_to new_cocktail_dose_path(@cocktail), class: "btn btn-primary" do %>
    New Dose
  <% end %>
</div>
<div class="text-center" style="margin: 30px;">
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.input :instruction %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "Save", class: "btn btn-danger" %>
  <% end %>
</div>

<div class="text-center" style="margin: 30px;">
  <%= link_to cocktails_path, class: "btn btn-primary" do %>
    Back
  <% end %>
</div>
